<c-card>
  <c-card-header>
    <c-row>
      <c-col [sm]="6">
        <c-input-group>
          <input cFormControl [(ngModel)]="searchValue" (keyup.enter)="getDataPaging(true)"/>
          <button cButton (click)="getDataPaging(true)">{{langData[langCode]['SEARCH_BTN']}}</button>
        </c-input-group>
      </c-col>
      <c-col [sm]="6" class="d-md-block">
        <button cButton class="float-end" (click)="openModal(formModal)"><svg cIcon name="cilPlus"></svg>{{langData[langCode]['ADD']}}</button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <table cTable>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{langData[langCode]['INDUSTRY_NAME_EN']}}</th>
          <th scope="col">{{langData[langCode]['INDUSTRY_NAME_LV']}}</th>
          <th scope="col" class="text-center">{{langData[langCode]['STATUS']}}</th>
          <th scope="col" class="text-center">{{langData[langCode]['ACTIONS']}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let industry of listIndustry.data; let i = index">
          <td scope="row">{{industry.id}}</td>
          <td>{{industry.nameEn}}</td>
          <td>{{industry.nameLv}}</td>
          <td class="text-center">
            <c-badge (click)="onChangeStatus(industry.id!)" class="pe-on" color="success" *ngIf="industry.status">{{langData[langCode]['ACTIVE']}}</c-badge>
            <c-badge (click)="onChangeStatus(industry.id!)" class="pe-on" color="danger" *ngIf="!industry.status">{{langData[langCode]['INACTIVE']}}</c-badge>
          </td>
          <td class="text-center">
            <button (click)="openModal(formModal, industry)" color="success" size="sm" shape="rounded-pill" cButton><svg cIcon name="cilPencil"></svg></button>
            <div class="vr h-100 mx-2 text-body"></div>
            <button (click)="onDelete(industry.id!)" color="danger" size="sm" shape="rounded-pill" cButton><svg cIcon name="cilTrash"></svg></button>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
  <c-card-footer>
    <app-table-paginate [pageConfig]="listIndustry" (pageChange)="pageChange($event)"/>
  </c-card-footer>
</c-card>

<ng-template #formModal>
  <app-industry-form [modalData]="modalData" (closeModal)="closeModal($event)" />
</ng-template>